<div class="col-md-12">
    <h1>Search</h1>
    <form class="form-inline">
        <label class="my-1 mr-2" for="searchResource">Preference</label>
        <select class="custom-select my-1 mr-sm-2" id="searchResource" ng-model="vm.search.resource" ng-change="vm.clearResults()">
            <option value="films">Films</option>
            <option value="people">People</option>
            <option value="planets">Planets</option>
            <option value="species">Species</option>
            <option value="starships">Starships</option>
            <option value="vehicles">Vehicles</option>
        </select>

        <label class="sr-only" for="searchQuery">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="searchQuery" ng-model="vm.search.query">

        <button type="submit" class="btn btn-primary my-1" ng-click="vm.searchApi(vm.search)">Search</button>
    </form>

    <h2>Results for {{vm.search.resource}}</h2>
    <div class="card-columns">
        <div class="card" style="width: 18rem;" ng-repeat="result in vm.results">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <!-- templates -->
            <!-- thanks patrick! and dane! (and kris) -->
            <div class="card-body" ng-include="'views/templates/' + vm.search.resource + '.html'"></div>

            <button class="btn btn-primary" ng-click="vm.addFavorite(result, vm.search.resource)">Add Favorite</button>
        </div>
    </div>
</div>
